<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h2>New Album</h2>
<form action="/songs" method="post">
    <label>Song Title</label>
    <input type="text" name="title" />

    <label>Track Number</label>
    <input type="text" name="trackNumber" />

    <label>Length</label>
    <input type="text" name="length" />

    <label>Album</label>
    <input type="number" name="albumID" />

    <input type="submit" value="Add Song!">
</form>
</body>
</html>